/*page d'accueil*/

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/*moitiés de l'écran*/

.halves{
    max-width: calc(50%-8vw);
    min-width: 40%;
    float: left;
    border: 1vw ridge rgb(153, 132, 132);
    padding: 2vw;
    text-align: left;
}

.halves[id="gaming"]{
    background-image: url(junkrat.jpeg);
    width: 44.175vw;
    height: 100vw;
}

.halves[id="work"]{
    background-image: url(code.jpg);
    width: 44.175vw;
    height: 100vw;
    margin: 10vm;
    align-content: center;
}

/*pour le texte dans la partie travail */

.halves[id="work"]>p.accueil{
/*    background-color: white; */
    width: 32vw;
    text-shadow: 0.1em 0.1em 0em black, -0.05em -0.05em 0.4em black;
    margin: auto;
    margin-top: 100%;
    font-size:30px;
}

.halves[id="work"]>p.accueil_second{
    /*    background-color: white; */
    width: 32vw;
    text-shadow: 0.1em 0.1em 0em black, -0.05em -0.05em 0.4em black;
    margin: auto;
    font-size:30px;
}

.halves[id="work"]>p.accueil_second>a{
    color: rgb(255, 217, 4);
}

.halves[id="work"]>p.accueil_second>a:hover{
    color: rgb(184, 150, 0);
}

.halves[id="work"]>p.accueil{
    /*    background-color: white; */
    width: 32vw;
    text-shadow: 0.1em 0.1em 0em black, -0.05em -0.05em 0.4em black;
    margin: auto;
    margin-top: 100%;
    font-size:30px;
}
    
.halves[id="work"]>p.accueil_second{
    /*    background-color: white; */
    width: 32vw;
    text-shadow: 0.1em 0.1em 0em black, -0.05em -0.05em 0.4em black;
    margin: auto;
    font-size:30px;
}
    
.halves[id="work"]>p.accueil_second>a{
    color: rgb(255, 217, 4);
}
    
.halves[id="work"]>p.accueil_second>a:hover{
    color: rgb(184, 150, 0);
}

.halves[id="work"]>p>span{
    color: white;
}

.halves[id="work"]>p>span{
    color: white;
}

/*On fait pareil partie perso */

.halves[id="gaming"]>p.accueil{
    /*    background-color: white; */
    width: 32vw;
    text-shadow: 0.1em 0.1em 0em black, -0.05em -0.05em 0.4em black;
    margin: auto;
    margin-top: 100%;
    font-size:30px
}
    
.halves[id="gaming"]>p.accueil_second{
    /*    background-color: white; */
    width: 32vw;
    text-shadow: 0.1em 0.1em 0em black, -0.05em -0.05em 0.4em black;
    margin: auto;
    font-size:25px;
    margin-top: 1vw;
}

.halves[id="gaming"]>p.accueil_second>a{
    color: rgb(255, 217, 4);
}

.halves[id="gaming"]>p.accueil_second>a:hover{
    color: rgb(184, 150, 0);
}
    
.halves[id="gaming"]>p>span{
    color: white;
}

/*Textes pour sous-pages*/

.accueil{
    vertical-align: top;
}

div ~ p.deroulant{
    display: none;
}

a{
    text-decoration: none;
    color:brown;
}

a:hover{
    text-decoration: underline;
    color: red;
}

a:hover ~ p.deroulant{
    display: block;
}

p.deroulant:hover{
    display: block;
}

p.mystere{
    display: none;
}

p:hover ~ p.mystere{
    display: inline;
    float: left;
}

p.parent{
    float: left;
    padding-right: 0px;
}

.column.left{
    width: calc(25% - 8vw);
    float: left;
    border: 1vw ridge rgb(153, 132, 132);
    padding: 2vw;
    text-align: left;
    margin: 0px;
}

.column.right{
    width: calc(75% - 8vw);
    float: left;
    border: 1vw ridge rgb(153, 132, 132);
    padding: 2vw;
    text-align: left;
    margin: 0px;
}


td.tab-column.left{
    width: calc(25% - 8vw);
    border: 1vw ridge rgb(153, 132, 132);
    padding: 2vw;
    text-align: left;
    margin: 0px;
    vertical-align: top;
}

.cv-table{
    margin: 0px;
    padding: 0px;
    left: 40px;
}

td.tab-column.right{
    width: calc(75% - 8vw);
    border: 1vw ridge rgb(153, 132, 132);
    padding: 2vw;
    text-align: left;
    margin: 0px;
    vertical-align: top;
}

input.deroulant{
    display: none;
}

input.deroulant ~ div.deroulant{
    display: none;
}

input.deroulant:checked ~ div.deroulant{
    display: block;
/*    margin-top: 0vw;
    border-width: 0vw 0.4vw 0.4vw;
    border-style: solid;
    border-color: brown;
    border-radius: 0vw 0vw 1vw 1vw;
    margin-bottom: 2vw;*/
}

input.deroulant:checked ~ div.deroulant > a{
    padding-bottom: 0.1vw;
}

input.deroulant+label.deroulant{
    display: inline;
}

input.deroulant:checked+label.deroulant{
    margin-bottom: 2vw;
}

div.rounded{
    border-width: 0.4vw;
    border-style: ridge;
    border-color: brown;
    display: block;
    border-radius: 1vw;
    margin: 0vw 1vw 1vw;
    padding: 1vw;
}

p.intro{
    align: center;
    text-decoration-line: underline;
    font-size: 2vw;
    font-weight: bold;
    text-decoration-thickness: 0.2vw;
}

div.intro{
    display: block;
    background-color: rgb(236, 202, 158);
    color: black;
    padding: 2vw;
    margin-top: 0vw;
    margin-bottom: 1vw;
}

body.projets_persos{
    background-color: rgb(255, 255, 255);
}

div.outro{
    display: block;
    margin: 0vw 2vw;
    vertical-align: bottom;
}

input.deroulant + label.deroulant + i{
    margin-left: 2vw;
    transform: rotate(0deg);
    transition: 0.5s
}

input.deroulant:checked + label.deroulant + i{
    margin-left: 2vw;
    transform: rotate(180deg);
}